@using EventManagerDemo.Models
@using System.Security.Claims
@model IEnumerable<Claim>
@{
    ViewBag.Title = "Apply open extensions";
    Layout = "~/Views/Shared/OfficeUIFabricLayout.cshtml";
}

<div class="event-page apply-openextensions">
    <p>@ViewBag.Message</p>
</div>