@{
    Layout = "~/Views/Shared/OfficeUIFabricLayout.cshtml";    
}
<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col">
                <h1>@ViewBag.Title</h1>
                <div>@Html.Raw(ViewBag.Message)</div>
        </div>
    </div>
</div>
